{% include "header.html" %}
{% block style %}
<style>
    div{
    justify-content : right;
    margin-left : 60px;
    padding : 10px;
    align-items : right;
    }
    .btn.btn-primary{
    margin-left : 70px;
    }
</style>
{%endblock%}
{% from "bootstrap5/form.html" import render_form %}

<div class="col-xxl-8 col-xl-8">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      {% for message in messages %}
      <p class="flash" style="color:red;">{{ message }}</p>
      {% endfor %}
      {% endif %}
      {% endwith %}
    {{ ckeditor.load() }} {{ ckeditor.config(name='body') }}
    {{ render_form(contact_form, novalidate=True, button_map={ "submit": "primary" } ) }}
</div>
{% include "footer.html" %}