{% include "header.html" %}
<div class="cater3-movingBG">
    <div class="flyinTxtCont">
        <div class="flyIn lineOne">WELCOME</div>
        <div class="flyIn lineTwo">TO MY</div>
        <div class="flyIn lineThree">PORTFOLIO</div>
        <div class="flyIn lineFour">I AM A Freelancer</div>
    </div>
</div>
<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel" >
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class="active" aria-current="true"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"  preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Live</h1>
                    <p class="opacity-75">Hackathon Name: Web ka Hackathons 2024</p>
                    <p><a class="btn btn-lg btn-primary" href="https://www.lpu.in/events/hack-iot/index.php">Sign up today</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item active">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
            <div class="container">
                <div class="carousel-caption">
                    <h1>Another example headline.</h1>
                    <p>Hackathon Name: TechFest Hackathon 2024</p>
                    <p><a class="btn btn-lg btn-primary" href="https://www.lpu.in/events/hack-iot/index.php">Learn more</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg>
            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>One more for good measure.</h1>
                    <p>Event Name: AI Summit 2024</p>
                    <p><a class="btn btn-lg btn-primary" href="https://www.lpu.in/events/hack-iot/index.php">Browse gallery</a></p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<div class="container marketing">

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Introduction<span class="text-body-secondary">Here's is what i do</span></h2>
            <p class="lead">I'm Deepak, a passionate Computer Science Engineering (CSE) student with a keen interest in software development and programming. Proficient in a variety of languages and technologies, I thrive on tackling challenging problems and building innovative solutions.

            </p>
        </div>
        <div class="col-md-5">
            <img src="https://media.licdn.com/dms/image/D4D12AQEj83MlZeigUg/article-cover_image-shrink_720_1280/0/1695488322920?e=2147483647&v=beta&t=VR9R9S7TUByzm-ObPNW1nuABPGgUnVyuLYe4u1ulx4c" width="100%" height="100%" style="border-radius : 100px">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading fw-normal lh-1" style="margin-left:50px">Projects</h2>
            <p class="lead">
            <div class="row" >
                <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="card" style="max-height:500px">
                        <div class="card-body">
                            <h5 class="card-title">Project 1: Blog Post</h5>
                            <p class="card-text">For this project, I developed a fully functional blog platform where I share insights, tutorials. <br>
                                <br>Frontend: <small>HTML, CSS, Javascript</small><br>
                                Backend: <small>Python (Flask or Django, depending on preference)</small><br>
                                Database: <small>SQLite or PostgreSQL</small><br>
                            </p>
                            <a href="https://github.com/DeepakKumarBehera03/Code_Guide_Post.git" class="btn btn-primary">See the project in github</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mb-3 mb-sm-0" >
                    <div class="card" style="max-height:500px">
                        <div class="card-body">
                            <h5 class="card-title">Project 2:Documentation </h5>
                            <p class="card-text">This project serves as a documentation page where I meticulously organized<br><br>
                                Technologies:<small>HTML, CSS, JavaScript </small><br><br>
                                Backend : <small>JQuery, ReactjS, Postgresql</small><br><br>
                                Key Features:<small>Clean Layout, Clean Architecture</small><br>
                            </p>
                            <a href="https://github.com/DeepakKumarBehera03/Top10MovieOfAllTime.git" class="btn btn-primary">See the project in github</a>
                        </div>
                    </div>
                </div>
            </div>
            </p>
        </div>

        <div class="col-md-5 order-md-1">
            <img src="https://cdn.dribbble.com/users/3484830/screenshots/16787618/media/b134e73ef667b926c76d8ce3f962dba2.gif" width="100%" height="517" style="border-radius : 100px;">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading fw-normal lh-1">Skills<span class="text-body-secondary">Profile</span></h2>
            <p class="lead"><strong>Programming Languages:</strong> <small>Python, Java, C, JavaScript, Dart, Flutter, Flask, Django, Reactjs, Jquery</small><br>
                <strong>Web Development:</strong> <small>HTML, CSS, JavaScript, Flutter</small><br>
                <strong>Other:</strong> <small>Shell Scripting, Git, Agile Methodologies, PostgreSQL, ASP.NET, Postman, Pytest, pandas, Numpy, Matplotlib, Pyplot, Pygame, scipy, flask_bootstrap</small></p>
        </div>
        <div class="col-md-5">
            <img src="https://miro.medium.com/v2/resize:fit:1023/1*b9Dz3tDx7wPN6x_qVlhLmA.png" width="100%" height="359" style="border-radius : 100px;">
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div>
{% include "footer.html" %}