{% include "header.html"%}
<div class="card" style="max-width: 840px;">
    <div class="card-body">
        <h5 class="card-title">Day 80 of #100daysofPython</h5>
        <p class="card-text">Just complete my day 80 with data analysis </p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>
    <img src="../static/day_80.png" class="card-img-bottom" alt="...">
</div>
<div class="card" style="max-width: 840px;">
    <div class="card-body">
        <h5 class="card-title">Day 81 of #100daysofPython</h5>
        <p class="card-text">Just wrapped the day81 of python challenge where i delved more into python pandas and numpy module with data visualization with the help of Matplotlib module</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>
    <img src="../static/day_81.png" class="card-img-bottom" alt="...">
</div>
<div class="card" style="max-width: 840px;">
    <div class="card-body">
        <h5 class="card-title">Day 82 of #100daysofPython</h5>
        <p class="card-text">Just complete the assignment of day 82 of python where i was able to complete my task , <br> the task is write the python programme that convert any text to morse code.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>
    <img src="../static/day_82.png" class="card-img-bottom" alt="...">
</div>
<div class="card" style="max-width: 840px;">
    <div class="card-body">
        <h5 class="card-title">Day 83 of #100daysofPython</h5>
        <p class="card-text">Just complete the assignment of day 83 of python where i was created my<br> Own Portfolio</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
    </div>
    <img src="../static/project_4.png" class="card-img-bottom" alt="...">
</div>
{% include "footer.html" %}