{% include "header.html" %}
<div class="card mb-3" style="max-width: 840px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="../static/project_1.png" class="img-fluid rounded-start" alt="..." style="height:100%;width:100%;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Blog Post</h5>
        <p class="card-text">This is a one to many user project where the first registered user will post any blog, and afterwards registered user will only able to see it read it and can write comment/feedback to it, only the admin can delete or modify the post, also user can contact to the blogpost owner by submitting his/her contact details in the contact page.</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 840px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="../static/project_2.png" class="img-fluid rounded-start" alt="..." style="height:100%;width:100%;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Expense Tracker</h5>
        <p class="card-text">This app will help us to Organize our daily expenses in a very easy and convenience way, we can delete the expense whenever we want, there is a graph also in which we can visually experience that which type of expense is more</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>

<div class="card mb-3" style="max-width: 840px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="../static/project_3.png" class="img-fluid rounded-start" alt="..." style="height:100%;width:100%;">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">Top 10 Movie Database</h5>
        <p class="card-text">This is an API Based python programme, where first user have to first give input of any of his/her favorite movie after that the programme will getch the inputed data and with the help of API Oof movie database it will fetch the relavent movie and add it to the main page, after added user can give gis/her choice rating and comment to it so that will arrange automatically by order of rating, with that user can open any time this page if he/she will forgot the movie</p>
        <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
</div>
{% include "footer.html" %}